option domain-name "{{ dhcp_domain }}";

default-lease-time 600;
max-lease-time 7200;
log-facility local7;
authoritative;
option tftp-server-name "{{ tftp_server }}";

allow booting;

subnet {{ lan_subnet }} netmask {{ lan_netmask }} {
  range {{ lan_ip_start }} {{ lan_ip_end }};
  option broadcast-address {{ lan_ip_broadcast }}; 
  next-server {{ tftp_server }};
  filename "gpxe.kpxe"; 
}

group {
  next-server {{ tftp_server }};
  host tftpclient {
    filename "gpxe.kpxe";
 }
}